/* RGB */
.color-1 {
color: #8A2BE2;
}


.color-2 {
color: burlywood;
}

.color-3 {
color: #00ff00;
}

/* 0-255 */
.color-4 {
color: rgb(0 0 255);
}

.color-5 {
color: rgba(0, 0, 0, 0.5);
}