.border-1 {
/* border-width: 2px;
border-style: solid;
border-color: darkred; */
border: 2px solid darkred;
border-radius: 10px;
}

.border-2 {
border-bottom: 2px solid darkblue;
border-left: 2px solid darkblue;

border-bottom-left-radius: 10px;
}

.border-3 {
border-left: 6px solid red;
background-color: lightsalmon;
padding-left: 10px;
color: #fff
}

.border-4 {
background: #e4e8ff;
border: 1px solid #000;
border-radius: 10px;
}

.html {
border: 1px;
}