body {
background-color: lightblue;
font-family: verdana;
font-size: large;
}

.btn {
    background-color: #111;
    padding: 15px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: verdana;
}

.btn:hover {
    opacity: 0.8;
    transition: all .2s;
    font-size: 1rem;
    color: orange;
}
